bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

./Counter.Api/bin
./Counter.Api/obj
./Counter.Api/appsettings.json

.idea

counterClient/.vscode
counterClient/README.md

Counter.Core/bin
Counter.Core/obj