<div class="container">
    <div class="card text-center">
      <div class="card-body">
        <div class="text-center">
          <div class="row justify-content-md-center">
            <div class="col-4">
              <div class="input-group mb-3">
                <input id="inputTime" type="number" [(ngModel)]="inputTime" name="InputTime" class="form-control" placeholder="Number of ms" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group">
              <button id="startButton" type="submit" class="btn btn-primary" (click)="startInfiniteSending($event)" >Start</button>
              <button id="stopButton" type="button" class="btn btn-primary" (click)="stopInfiniteSending()">Stop</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
          <span>{{signalRService.signalRNumber}}</span>
      </div>
    </div>
</div>
